<h1>請求書登録</h1>
<%= form_with(model: @invoice, local: true) do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_expanation">
      <%= @invoice.errors.count %>件のエラーがあります。
      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  画像
  <div class="pictures-container" id="pictures">
    <%= form.fields_for :pictures do |picture| %>
      <div class="picture" style="display: none">
        <div>
          <p><%#= picture.label :image %></p>
          <p><%= picture.file_field :image %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button id="add-picture-form" type="button">追加</button>
    10枚まで追加可能
  </div>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div>
      <p><%= form.label :請求元 %></p>
      <p><%= form.select :requestor_id, Requestor.all.collect { |p| [ p.name, p.id ] } %>
      <%= link_to "請求元の追加", new_requestor_path %></p>
    </div>
  <% end %>
  <div>
    <p><%= form.label :issued_on %></p>
    <p><%= form.date_select :issued_on %></p>
  </div>
  <div>
    <p><%= form.label :subject %></p>
    <p><%= form.text_field :subject %></p>
  </div>
  <div>
    <p><%= form.label :due_on %></p>
    <p><%= form.date_select :due_on %></p>
  </div>
  <div>
    <p><%= form.label :memo %></p>
    <p><%= form.text_area :memo %></p>
  </div>
  <div class="invoice-details-container" id="invoice-details">内訳　　　　　　　　数量　　　　　　　　単価
    <%= form.fields_for :invoice_details do |invoice_detail| %>
      <div class="invoice-detail" style="display: none">
        <div>
          <p><%#= invoice_detail.label :subject %></p>
          <p><%= invoice_detail.text_field :subject %></p>
        </div>
        <div>
          <p><%#= invoice_detail.label :quantity %></p>
          <p><%= invoice_detail.number_field :quantity %></p>
        </div>
        <div>
          <p><%#= invoice_detail.label :unit_price %></p>
          <p><%= invoice_detail.number_field :unit_price %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button id="add-invoice-detail-form" type="button">追加</button>
    10行まで追加可能
  </div>
  <p><%= form.submit %></p>
<% end %>