<h1>請求書詳細</h1>
<% @pictures.each do |picture| %>
  <%= image_tag picture.google_drive_url %>
<% end %>

<table>
  <tr>
    <th>請求元</th>
    <th>件名</th>
    <th>期日</th>
  </tr>
  <tr>
    <td><%= Requestor.find(@invoice.requestor_id).name %></td>
    <td><%= @invoice.subject %></td>
    <td><%= l @invoice.due_on, format: :default %></td>
  </tr>
  <tr>
    <th>小計</th>
    <th>合計</th>
    <th>メモ</th>
  </tr>
  <tr>
    <td><%= @subtotal.to_s(:delimited) %>円</td>
    <td><%= @total.to_s(:delimited) %>円</td>
    <td><%= @invoice.memo %></td>
  </tr>
  <tr>
    <th>内訳</th>
    <th>数量</th>
    <th>税抜き単価</th>
    <th>金額</th>
  </tr>
  <% @invoice.invoice_details.each do |invoice_detail| %>
  <tr>
    <td><%= invoice_detail.subject %></td>
    <td><%= invoice_detail.quantity %></td>
    <td><%= invoice_detail.unit_price.to_s(:delimited) %>円</td>
    <td><%= (invoice_detail.quantity * invoice_detail.unit_price).to_s(:delimited) %>円</td>
  </tr>
  <% end %>

  <tr>
    <th>freee連携</th>
    <th>登録者</th>
  </tr>
  <tr>
    <td><%= @invoice.api_status %></td>
    <td><%= @invoice.user.email %>さん</td>
  </tr>
</table>
