<h1>ユーザー登録</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%= @user.errors.count %><%= t('.errors') %>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </P>
  <P>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </P>
  <P>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </P>
  <P>
  <%= f.label :role %>
  <%= f.select :role, User.roles.keys.to_a, include_blank: "選択してください" %>
  </P>
  <br>
  <%= f.submit %>
<% end %>