<h1>新しい請求元の登録</h1>
<%= turbo_frame_tag "first_turbo_frame" do %>
  <%= form_with(model: @requestor, local: true) do |form| %>
    <% if @requestor.errors.any? %>
      <div id="error_expanation">
        <h2><%= @requestor.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @requestor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
    <p><%= form.label :請求元 %></p>
    <p><%= form.select :requestor_id, Requestor.all.collect { |p| [ p.name, p.id ] } %></p>
    <p><%= form.text_field :name %></p>
    </div>
    <p><%= form.submit :登録する %></p>
  <% end %>
<% end %>