<!DOCTYPE html>
<html>
  <head>
    <title>SeicuteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to "ログアウト", session_path(current_user.id), data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？"} %>
  <% end %>
  <div id="flash" class="flash">
    <%= render "layouts/flash" %>
  </div>
    <%= yield %>
  </body>
</html>
